<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
}
	</style>
</head>
<body>
<div>
Font face example
</div>
</body>
</html>

